<div class="container-fluid">
  <h1>Stupid Coaching</h1>
    <div>
      <p><%=params[:answer]%></p>
      <p class="font-italic">-You</p>
    </div>
    <div>
      <p><%=@coach%></p>
      <p class="font-italic">-Your Coach</p>
    </div>
</div>
